/* * {
  box-sizing: border-box;
}

body {
  background-color : #8accf9;
  margin: 0;
}

.airbnbLogo {
  margin-left: 100px;
  margin-top: 30px;
}

.nav {
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918E9B;
}

.nav-logo {
  max-width: 100px;
}

.section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.adventurePics {
  display: flex;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.summaryTitle {
  margin-bottom: 16px;
  margin-left: 50px;
}

.mainSectionSummary {
  margin-left: 50px;
  margin-top: 0px;
  font-size: large;
  font-family: 'Poppins', Helvetica, sans-serif;
}

.card {
  margin-left: 50px;
  width: 175px;
  font-size: 12px;
}

.zarefesPic {
  margin-top: 40px;
  width: 100%;
  border-radius: 9px;
}

.cardAbout {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.star {
  height: 14px;
}

.footer {
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: medium;
} */




* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}