* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    background-color: aquamarine;
}

.suggestionYes {
    margin-left: 20px;
    background-color: rgb(0, 255, 0);
}

.suggestionNo {
    margin-left: 12px;
    background-color: rgb(255, 51, 51);
}