* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.airbnbLogo {
  margin-left: 100px;
  margin-top: 30px;
}

.nav {
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navLogo {
  max-width: 100px;
}

.section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.adventurePics {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 600px;
}

.summaryTitle {
  margin-bottom: 16px;
  margin-left: 50px;
}

.mainSectionSummary {
  margin-left: 50px;
  margin-top: 0px;
  font-size: large;
  font-family: 'Poppins', Helvetica, sans-serif;
}

.card {
    margin-top: 50px;
    margin-left: 30px;
}

.zaferesPic {
    display: flex;
    margin-top: 50px;
}

.cardAbout {
    margin-top: 17px;
}

.footer {
    margin-left: 30px;
}